@import "./variables.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-color;
}

body {
  color: $text-secondary;

  h1 {
    color: $text-primary;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
// /* For WebKit browsers (Chrome, Safari) */
// ::-webkit-scrollbar {
//   width: 3px;
//   background-color: $primary-color; /* Replace YourColorHere with your desired color */
// }

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  // height: 20px; /* Adjust the height as needed */
}

tr {
  border-bottom: 1px solid lightgray;
}
