@import "../variables.module.scss";

.container {
  display: flex;
  height: 100vh;
  //   padding-top: 80px;
}

.mainContainer {
  padding: 130px 40px 50px 40px;
  width: 100%;
  overflow-y: scroll;
}
