.dropdown {
  position: relative;

  .dropdownToggle {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}
